{
  "start_date": "03/20/2014",
  "end_date": "05/31/2015",
  "categories": [
    {
      "category": "Paycheck", 
      "monthly_transactions": 3, 
      "min_amount": -8500, 
      "max_amount": -200
    },
    {
      "category": "Internet",
      "monthly_transactions": 1,
      "min_amount": 50,
      "max_amount": 50
    },
    {
      "category": "Groceries",
      "monthly_transactions": 5,
      "min_amount": 500,
      "max_amount": 700
    }
  ]
}
